.testimontials__section {
    .container {
        display: flex;
        align-items: center;
        gap: 2rem;
        .testimontials__title {
            width: 50%;
            position: relative;
            .big_quote {
                opacity: .4;
            }
            .testimontial__title {
                position: relative;
                top: -5rem;
                left: 5rem;
                h1 {
                    font-size: 3rem;
                    width: 70%;
                }
            }
            .testimontial__card {
                width: 50%;
                padding: 2rem;
                box-shadow: 0 0 5px 0 $gray;
                float: right;
                .testimontial__card_header {
                    height: 80px;
                }
                .testimontial__card_body {
                    position: relative;
                    img {
                        position: relative;
                        left: -1.4rem;
                    }
                    p {
                        margin-bottom: 2rem;
                    }
                }
                span {
                    color: $gray;
                }
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 10px 0 $gray;
                }
            }
        }
        .testimontials__content {
            width: 45%;
            .testimontial__card {
                width: 80%;
                padding: 1rem;
                box-shadow: 0 0 5px 0 $gray;
                margin-bottom: 2rem;
                &.small_width {
                    width: 60%;
                }
                p {
                    margin: 2rem 0;
                }
                span {
                    color: $gray;
                }
                &:hover {
                    cursor: pointer;
                    box-shadow: 0 0 10px 0 $gray;
                }
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 460px) {
    .testimontials__section {
        .container {
            flex-direction: column;
            align-items: initial;
            .testimontials__title {
                width: 90%;
                .testimontial__title {
                    left: 1rem;
                    h1 {
                        width: 100%;
                    }
                }
                .testimontial__card {
                    float: initial;
                    width: 95%;
                    margin: 0 auto 0 1.5rem;
                }
            }
            .testimontials__content {
                width: 87%;
                margin: 0 auto;
                .testimontial__card {
                    width: 100%;
                    &.small_width {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: 460px) and (max-width: 900px) {
    .testimontials__section {
        padding: 0 2rem;
        .container {
            align-items: initial;
            .testimontials__title {
                width: 90%;
                .testimontial__title {
                    left: 1rem;
                    h1 {
                        width: 100%;
                    }
                }
                .testimontial__card {
                    float: initial;
                    width: 95%;
                    margin: 0 auto 0 1.5rem;
                }
            }
            .testimontials__content {
                width: 87%;
                margin: 0 auto;
                .testimontial__card {
                    width: 100%;
                    &.small_width {
                        width: 100%;
                    }
                }
            }
        }
    }
}