.us__section {
    padding: 3rem 0;
    .us__title_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 5rem;
        .us__title {
            width: 55%;
            h1 {
                font-size: 48px;
                margin-bottom: 2rem;
            }
        }
        .us__logos {
            width: 45%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            .logos__item {
                width: 25%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .us_cards {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8rem;
        gap: 2rem;
        .us_card {
            text-align: center;
            width: 25%;
            padding: 1rem;
            border-radius: 10px;
            cursor: pointer;
            .us_card_body {
                h3 {
                    font-size: 18px;
                }
                p {
                    font-size: 12px;
                }
            }
            &:hover {
                box-shadow: 0 0 10px 0 $gray;
            }
        }
    }
}

@media (min-width: 0px) and (max-width: 460px) {
    .us__section {
        .us__title_content {
            flex-direction: column;
            .us__title {
                width: 90%;
            }
            .us__logos {
                width: 90%;
            }
        }
        .us_cards {
            flex-direction: column;
            gap: 4rem;
            .us_card {
                width: 90%;
                .us_card_body {
                    h3 {
                        margin: 1rem 0;
                    }
                    p {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 460px) and (max-width: 900px) {
    .us__section {
        .us__title_content {
            padding: 1rem 1.5rem;
        }
        .us_cards {
            flex-wrap: wrap;
            justify-content: center;
            .us_card {
                width: 45%;
            }
        }
    }
}